#contact {
    display: flex;
    /* justify-content: flex-end; */
    /* background-color: rgb(226, 232, 237); */
    padding: 50px;
}

.container {
    background-image: url(/public/images/background.jpeg);
    border: 1px solid rgb(180, 206, 183);
    /* background-color: rgb(255, 255, 255); */
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-top: 120px;
}

label {
    display: block;
    margin: 20 px o;

}

form {
    background: rgb(197, 213, 197);
    border-radius: 5px;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid rgb(11, 11, 11);

}

.submit-message {
    padding-top: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#info {
    outline: 1px solid;
    width: 50%;
}

#contact-logo {
    width: 200px;
}